@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

html{height: 100%}

body{
	width: 100%;
	height: 100%;
	color: #333;
	bacground:#f7f7f7;
	font-size: 2em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
}

a{
	color: #f48b8b;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover{
	color: #8b9ff5;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition:all.6s ease;
	-ms-transition: all.6s ease;
}


	
img{
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.left{float: left}
.right{float: right}
/*Selection Block*/


nav ul {
	width: 100%;

	list-style: none;
	background-color: #444;
	text-align: center;
	margin: 0;
	padding-left: 0;
	overflow: hidden;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

nav a:hover {
	background-color: #005f5f;
}

nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}
#block-right{
	float: right;
	width: 400px;
}
@media
screen
and
(min-width:
600px) {
	nav li {
		display: inline-block;
		font-family: 'Oswald', sans-serif;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.1em;
	}

	/* Option 1 - Display Inline */

	li {
		margin-top: 5px;
        width: 12%;
	}

	::selection {
		background: #f58b8b;
		color: #fff
	}

	header, footer {
		width: 98%;
		background-color: #fff;
		float: left;
	}

	header {
		border-bottom: 2px solid silver;
		padding: 1%;
	}

	footer {
		border-top: 2px solid silver;
		margin-top: 1%;
		padding: 1%;
		padding-bottom: 2%;
	}

	#page-wrap:after {
		content: "";
		display: block;
	}

	footer, #page-wrap {
		height: 10px
	}

	#page-wrap {
		min-height: 70%;
		margin-bottom: -10px;
	}

	#logo {
		font-size: 2em;
		font-family: Comic Sans MS, sans-serif;
		color: silver;
	}

	.contact {
		font-size: 1.5em;
		font-family: Comic Sans MS, sans-serif;
		margin-left: 20px;
	}

	input[type=text].field {
		border-radius: 5px;
		border: 2px solid silver;
		padding: 5px;
		margin-left: 20px;
	}

	input[type=text].field:focus {
		border: 2px solid #f58b8b;
	}

	.button {
		margin: 5px;
		text-decoration: none;
		text-align: center;
		padding: 11px 32px;
		border: solid 1px #004F72;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font: 14px Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #E5FFFF;
		background-color: #3BA4C7;
		background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
		background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
		background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
		background-image: -ms-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5',
		endColorstr='#1982A5', GradientType=0);
		background-image: linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
		-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
		-moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
		box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	}

	#checkedGoods {
		visibility: hidden;
	}

	#index {
		width: 47%;
		background-color: #292025;
		float: left;
	}
	#block-news{
		width: 220px;
		height: auto;
	}
	#newsticker{
		width: 220px;
		border-top: 1px solid #DDDDDD;
	}
	#newsticker p{
		font: 14px sans-serif;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#newsticker li{
		border-bottom: 1px solid #DDDDDD;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#newsticker a{
		color: #EF662B;
		font: bold 14px sans-serif;
		text-decoration: none;
	}
	#newsticker a:hover{
		text-decoration: underline;
	}
	#newsticker span{
		font: 13px sans-serif;
		padding-bottom: 5px;
		color: #636363;
		display: block;
	}

}